/* Blog Single Page */
.blog-content-section {
    position: relative;

    .blog-shapes {
        img {
            width: 80px;
        }

        .bbs-1 {
            position: absolute;
            left: 3%;
            top: 15%;

        }

        .bbs-2 {
            position: absolute;
            left: 8%;
            top: 22%;
            display: none;

            @include screen-1440 {
                display: block;
            }

            @include screen-1600 {
                display: block;
            }
        }

        .bbs-3 {
            position: absolute;
            left: 0;
            top: 34%;
        }

        .bbs-4 {
            position: absolute;
            bottom: 8%;
            right: 20%;

            @include screen-1200 {
                right: 10%;
            }

            @include screen-1200 {
                right: 10%;
            }

            @include screen-1600 {
                bottom: 8%;
                right: 14%;
            }
        }

        .bbs-5 {
            position: absolute;
            right: 20%;
            top: 13%;

            @include screen-1200 {
                right: 9%;
                top: 14%;
            }

            @include screen-1600 {
                right: 14%;
                top: 14%;
            }
        }

        .bbs-6 {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .bbs-7 {
            position: absolute;
            right: 0;
            top: 30%;
        }
    }

}

.blog-single-post {
    padding: 10px;
    margin-bottom: 40px;

    @include tablet {
        margin-bottom: 0px;
    }

    @include sm-device {
        margin-bottom: 0px;
    }

    &.different-bg-color {
        background-color: $primary-color;
    }

    .blog-thumbnail {
        overflow: hidden;
        position: relative;

        img {
            transition: $transition;
        }
    }

    .blog-content-part {
        padding: 20px 0;

        .blog-content-top {
            display: flex;
            align-items: center;
            margin-top: 10px;
            justify-content: space-between;

            div {
                margin-right: 20px;

                @include portrait-phone {
                    margin-right: 2px;
                }
            }

            a {
                color: $paragraph-color;
                transition: $transition;
                text-transform: capitalize;

                &:hover {
                    color: $primary-color;
                }

                i {
                    margin-right: 10px;

                }
            }
        }

        .blog-title {
            margin-top: 20px;

            h4 {
                a {
                    color: $paragraph-color;
                    transition: $transition;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .blog-content {
            margin-top: 30px;
        }

        .blog-qoute {
            background: $bg-color2;
            padding: 30px 80px;
            border-radius: 5px;

            p {
                font-style: italic;

                .authorName {
                    font-weight: 600;
                }
            }
        }

        .blog-social-icons {
            text-align: right;

            .social-title {
                font-size: 16px;
                font-family: $heading-font;
                font-weight: 700;
                color: $secondary-color;
                transition: $transition;
            }

            span {

                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    color: $secondary-color;
                    background: $white-color;
                    margin-left: 15px;
                    padding: 10px 14px;
                    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
                    transition: $transition;

                    @include portrait-phone {
                        margin-left: 6px;
                    }

                    &:hover {
                        background: $primary-color;
                        color: $white-color;
                    }
                }

            }
        }

        .blog-comment-area {

            .single-comment {
                .comment-image {
                    margin-right: 30px;
                }
            }

            .comment-content {
                .user-des {
                    a {
                        color: $secondary-color;
                        text-transform: capitalize;
                        transition: $transition;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

    }

    .blog-thumbnail-slider {

        .thumbnail-single-slide {
            position: relative;
        }

        .prev-arrow,
        .next-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 16px;
            background-color: $secondary-color;
            border: 1px solid transparent;
            border-radius: 5px;
            color: $white-color;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            cursor: pointer;
            transition: $transition;
            z-index: 1;

            &:hover {
                background-color: $primary-color;

            }
        }

        .prev-arrow {
            left: 20px;
        }

        .next-arrow {
            right: 20px;
        }
    }

    .blog-thumbnail-video {
        position: relative;

        .video-play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            i {
                color: $white-color;
                background-color: $primary-color;
                font-size: 30px;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                border-radius: 50%;
            }
        }
    }

}

.single-widget {
    padding: 30px;
    margin-bottom: 30px;
    background: $bg-color2;
    border-radius: 5px;

    @include landscape-phone {
        padding: 50px 100px;
    }

    @include tablet {
        padding: 50px 100px;
    }

    +.single-widget {
        margin-top: 60px;
    }

    .header-search {
        form {
            position: relative;

            input {
                padding: 12px;
                padding-right: 65px;
                border: 1px solid $border-color;
                border-radius: 5px;
                width: 100%;
            }

            button {
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                background-color: $primary-color;
                color: $white-color;
                border-radius: 10px;
                border: transparent;
                position: absolute;
                top: 0%;
                right: 0%;
                transition: $transition;

                &:hover {
                    background: transparent;
                    color: $primary-color;
                    border: 1px solid $primary-color;
                }
            }
        }
    }

    img {
        width: inherit;
        margin: 0 auto;
    }

    .widget-title {
        margin-bottom: 30px;
    }

    &.author-widget {
        text-align: center;
        padding: 20px 15px 30px;
        position: relative;
        z-index: 1;

        img {
            width: 150px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-image: url('../images/author-widget-bg.jpg');

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: -1;
        }

        .author-social-link {
            li {
                display: inline-block;
                margin: 0 5px;

                a {
                    color: $paragraph-color;
                    transition: $transition;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    &.search-widget {
        form {
            width: 100%;
        }
    }

    &.product-widget {
        padding-bottom: 0;

        .single-product {
            border-bottom: 1px solid $border-color;
            padding: 20px 0px;

            .dish-img {
                margin-right: 20px;

                img {
                    width: 75px;

                    @include desktop {
                        width: 70px;
                    }
                }
            }

            .dish-content {
                h6 {
                    margin-bottom: 10px;

                    a {
                        font-size: 16px;
                        color: $secondary-color;
                        transition: $transition;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }

                .cart-select {
                    color: $primary-color;
                    background: transparent;
                    transition: .3s;
                    border: 1px solid $primary-color;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 50%;
                    display: inline-block;
                    text-align: center;
                    margin-left: 20px;

                    &:hover {
                        background: $primary-color;
                        color: $white-color;
                    }
                }

                .price {
                    font-weight: 500;
                    width: 30px;
                    height: 30px;

                    a {
                        transition: $transition;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .single-product:last-child {
            border-bottom: none;
        }
    }

    &.category-widget {
        li {
            display: block;

            a {
                color: $paragraph-color;
                text-transform: capitalize;
                padding: 10px 0;
                display: block;
                transition: $transition;
                border-top: 1px solid $border-color;

                &.border-none {
                    border-top: transparent;
                }

                &:hover {
                    color: $primary-color;
                }

                i {
                    font-size: 10px;
                    margin-right: 10px;
                }
            }
        }
    }

    &.tag-widget {
        margin-top: 55px;


        li {
            display: inline-block;
            margin-bottom: 4px;

            a {
                display: inline-block;
                text-transform: capitalize;
                padding: 6px 10px;
                color: $paragraph-color;
                border: 1px solid $border-color;
                transition: $transition;
                border-radius: 5px;
                background: $white-color;


                &:hover {
                    color: $white-color;
                    background-color: $primary-color;
                    border: 1px solid transparent;
                    border-radius: 5px;
                }
            }
        }
    }

    &.filter-menu-widget {
        margin-top: 55px;

        h6 {


            a {
                color: $secondary-color;
                margin-bottom: 20px;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .filter-menu {
            position: relative;
            margin-top: 30px;
        }

        .dish-img {
            margin-right: 20px;

            img {
                width: 50px;
            }
        }

        .dish-content {
            h6 {
                a {
                    color: $secondary-color;
                    font-size: 16px;
                    transition: $transition;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }

            span {
                position: absolute;
                right: 10px;
                width: 30px;
                height: 30px;
                background: $bg-color4;
                line-height: 30px;
                color: $secondary-color;
                text-align: center;
                border-radius: 50%;

                @include desktop {
                    right: -5px;
                }
            }
        }
    }

    &.blog-banner-widget {
        padding: 40px 60px;
        border: none;
        background: url('../images/blog07.jpg');
        background-size: cover;
        text-align: center;

        .banner-title {
            margin-bottom: 30px;

            span {
                font-size: 85px;
                line-height: .5;
                font-family: $heading-font;
                font-weight: 700;
                color: $white-color;
                text-transform: capitalize;

                span {
                    font-size: 51px;
                }
            }
        }

        .banner-content {

            p {
                color: $white-color;
                margin-bottom: 30px;
            }

            button {
                padding: 12px;
                color: $secondary-color;
                background: $white-color;
                border: 1px solid transparent;
                margin-bottom: 20px;
                transition: $transition;
                font-size: 30px;
                font-weight: 700;
                border-radius: 5px;

                &:hover {
                    background: transparent;
                    border: 1px solid $white-color;
                    color: $white-color;
                }
            }

            h5 {
                color: $white-color;
                font-family: $template-font;
                font-weight: 500;
            }
        }
    }

    &.subs-widget {
        .subscribe {
            form {
                input {
                    padding: 12px;
                    border: 1px solid $border-color;
                    border-radius: 5px;
                    width: 100%;
                    margin-bottom: 20px;
                }

                button {
                    width: 100%;
                }
            }
        }
    }
}


.blog-single-item {
    .single-blog-image {
        img {
            width: inherit;

        }
    }

    .blog-meta {
        ul {
            li {
                a {
                    color: $secondary-color;
                    text-transform: capitalize;
                }
            }
        }
    }

    .single-blog-content {
        h4 {
            a {
                color: $secondary-color;
            }
        }
    }
}

.blog-comment-area {
    .single-comment {
        img {
            width: inherit;
        }
    }
}

.blog-comment-form {
    h4 {
        margin-bottom: 60px;
    }

    form {
        input {
            background: $bg-color3;
            width: 100%;
            padding: 12px 30px;
            border-radius: 5px;
            border: 1px solid $border-color;
            margin-bottom: 30px;
        }

        textarea {
            background: $bg-color3;
            width: 100%;
            padding: 20px 30px;
            border-radius: 5px;
            border: 1px solid $border-color;
        }
    }
}


.blog-sidebar {
    .single-widget {
        h4 {
            margin-bottom: 30px;

            a {
                color: $secondary-color;
            }
        }

        .author-social-link {
            ul {
                li {
                    color: $secondary-color;
                }
            }
        }

        .banner-widget-button {
            .btn {
                background: $white-color;
                color: $primary-color;
            }
        }
    }

    @include tablet {
        margin-top: 60px;
    }

    @include landscape-phone {
        margin-top: 60px;
    }

    @include portrait-phone {
        margin-top: 60px;
    }
}