/* Homepage 1*/

// hero area

.hero-section {
    .category-dropdown {
        background: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        li {
            list-style: none;
            border-bottom: 1px solid $border-color;
            padding: 10px 20px;
            display: flex;
            position: relative;

            .has-mega-menu {
                width: 800px;
                background-image: url(/assets/images/mega-menu-bg.png);
                background-color: #fff;
                background-repeat: no-repeat;
                background-position-x: right;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                position: absolute;
                padding: 30px;
                left: 100%;
                z-index: 999;
                top: 0;
                display: none;

                .mega-menu {
                    width: 100%;
                    display: block !important;

                    .menu-item {
                        width: 33.3%;
                        float: left;
                        padding: 0;
                        border-bottom: none;

                        ul li {
                            border-bottom: none;

                            img {
                                width: 100px;
                                height: 100px;
                            }
                        }

                        .title {
                            font-weight: bold;
                        }
                    }
                }

            }

            &:hover .has-mega-menu {
                display: block;
            }
        }

        li:last-child {
            border-bottom: none;
        }

        a {
            text-decoration: none;
            color: $black-color2;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 14px;
            display: inline-block;
            width: 100%;
        }

        i {
            display: inline-block;
            margin-right: 10px;
            font-weight: bold;
            padding: 5px;
            border-radius: 50px;
        }

        .arrow-right {
            float: right;

            i {
                margin-right: 0;
                color: $black-color2;
                background-color: $white-color;
            }
        }

    }

    .hero-banner-slider {
        position: relative;
        height: 490px;
        background-size: cover;
        padding: 130px 45px;

        @include screen-1200 {
            padding: 100px 40px;
        }

        h2 {
            color: $white-color;
            margin-bottom: 20px;
        }

        p {
            color: $white-color;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        .product-image {
            img {
                max-width: 325px;
                position: absolute;
                right: 0;
                bottom: 0;

                @include screen-1200 {
                    max-width: 230px;
                }

                @include tablet {
                    max-width: 180px;
                }

            }
        }

    }





}

// Slick Customization

.slick-dots {
    position: absolute;
    top: 88%;
}

.slick-dots li {
    display: inline-block;
    margin-right: 5px;
}

.slick-dots .slick-active {
    font-size: 0;
    width: 30px;
    height: 10px;
    border-radius: 6px;
    border: none;
    background-color: $primary-color;
    display: inline-block;

    button {
        background-color: transparent;
    }
}

.slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: $white-color;
}

.slick-dots li button::before {
    font-size: 0;
}

// Slick End

.new-collection {
    position: relative;

    @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }



    .collection {
        height: 240px;
        padding: 30px;
        position: relative;
        margin-bottom: 20px;
    }

    img {
        position: absolute;
        right: 5%;
        top: 5%;
        max-width: 135px;
    }

    h4 {
        margin-bottom: 20px;

    }

    p {
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
        color: $black-color2;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }


}