/* Homepage 1*/

// hero area

.hero-section {
    .category-dropdown {
        background: #fff;
        padding: 20px 20px 0 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
            border-bottom: 1px solid $border-color;
            padding: 10px 0;
            display: flex;
        }

        li:last-child {
            border-bottom: none;
        }

        a {
            text-decoration: none;
            color: $black-color2;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 14px;
            display: inline-block;
            width: 100%;
        }

        i {
            display: inline-block;
            margin-right: 10px;
            color: $primary-color;
            font-weight: bold;
            padding: 5px;
            background-color: #efebff;
            border-radius: 50px;
        }

        .arrow-right {
            float: right;

            i {
                margin-right: 0;
                color: $black-color2;
                background-color: $white-color;
            }
        }
    }

    .hero-banner-slider {
        position: relative;
        height: 490px;
        background-image: url(/assets/images/banner-bg.png);
        background-size: cover;
        padding: 130px 45px;

        h2 {
            color: $white-color;
            margin-bottom: 20px;
        }

        p {
            color: $white-color;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        .product-image {
            img {
                max-width: 390px;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        .slick-dots {
            position: absolute;
            top: 420px;
            left: 350px;
        }

        .slick-dots li {
            display: inline-block;
            margin-right: 5px;
        }

        .slick-dots .slick-active {
            font-size: 0;
            width: 30px;
            height: 10px;
            border-radius: 6px;
            border: none;
            background-color: $primary-color;
            display: inline-block;

            button {
                background-color: transparent;
            }
        }

        .slick-dots li button {
            font-size: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: none;
            background-color: $white-color;
        }

    }

    .new-collection {
        position: relative;

        .collection {
            height: 240px;
            background-color: #e7faff;
            padding: 30px;
            position: relative;
            margin-bottom: 20px;
        }

        img {
            position: absolute;
            right: 0;
            bottom: 0;
            max-width: 145px;
        }

        h4 {
            margin-bottom: 25px;
        }

        p {
            margin-bottom: 40px;
        }

        a {
            text-decoration: none;
            color: $black-color2;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }


    }

}