/*Homepage 3 */

.hero3-slider-active {
    .slick-dots {
        display: flex !important;
        position: absolute;
        top: 50%;
        flex-direction: column;
        left: 1%;

        @include tablet {
            top: initial;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
            flex-direction: row;
        }

        @include sm-device {
            top: initial;
            bottom: -30px;
            flex-direction: row;
            left: 50%;
            transform: translateX(-50%);
        }

        li {
            button {
                background: transparent;
                font-size: 0;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 2px solid $home3-primary-color;
                outline: none;
                float: left;
                margin-left: 10px;
                margin-bottom: 10px;
                padding: 2px;

                @include tablet {
                    margin-right: 10px;
                }

                @include sm-device {
                    margin-right: 10px;
                }
            }
        }

        li.slick-active {
            button {
                background: $home3-primary-color;
                border: 2px solid $home3-primary-color;
            }
        }
    }
}

.hero-section3 {
    background: $bg-color2;
    position: relative;
    max-height: 950px;
    overflow: hidden;
    padding-top: 170px;
    padding-bottom: 170px;

    @include mobile-device {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .hero3-shapes {
        img {
            width: inherit;
        }

        .hts1 {
            position: absolute;
            width: 40px;
            top: 10%;
            left: 4%;
        }

        .hts2 {
            position: absolute;
            width: 80px;
            bottom: 10%;
            left: 2%;
        }

        .hts3 {
            position: absolute;
            width: 25px;
            bottom: 10%;
            right: 2%;
        }
    }

    .hero3-left {
        .heading1 {
            font-family: $heading-font;
            font-size: 80px;
            color: $secondary-color;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $secondary-color;
            font-weight: 700;
            line-height: 1.2;
            text-transform: uppercase;
            display: block;

            @include portrait-phone {
                font-size: 50px;
            }
        }

        .heading2 {
            font-family: $heading-font;
            font-size: 57px;
            color: $secondary-color;
            font-weight: 700;
            line-height: 1.2;
            text-transform: capitalize;
            display: block;
            margin-bottom: 30px;

            @include portrait-phone {
                font-size: 48px;
            }
        }

        p {
            margin-bottom: 50px;
        }

        .template-btn3 {
            margin-right: 20px;
        }
    }

    .hero3-right {
        position: relative;
        right: -23%;

        @include desktop {
            right: 0%;
        }

        @include screen-1200 {
            right: 0%;
        }

        .main-img {
            position: relative;
            z-index: 1;
        }

        .htr-shapes {
            img {
                width: inherit;
            }

            .htr1 {
                position: absolute;
                width: 150px;
                top: -4%;
                right: 0%;
                z-index: 0;
            }

            .htr2 {
                position: absolute;
                z-index: 2;
                width: 270px;
                top: 21%;
                left: 33%;
            }

            .htr3 {
                position: absolute;
                width: 80px;
                z-index: 2;
                bottom: 20%;
                left: -9%;
            }

            .htr4 {
                position: absolute;
                width: 20px;
                z-index: 0;
                bottom: 5%;
                right: 0%;
            }

            .htr5 {
                position: absolute;
                transform: rotate(262deg);
                width: 60px;
                bottom: 0%;
                left: -6%;
            }

            .htr6 {
                position: absolute;
                width: 50px;
                left: 0%;
                top: 0%;
            }

            .htr7 {
                position: absolute;
                width: 500px;
                z-index: 1;
                bottom: -35%;
                left: 8%;
            }
        }
    }
}

// about section
.about-area {
    .about-shapes {
        img {
            width: inherit;
        }

        .as1 {
            position: absolute;
            bottom: 9%;
            left: 4%;
        }

        .as2 {
            position: absolute;
            bottom: 9%;
            right: 4%;
        }

        .as3 {
            position: absolute;
            left: 10%;
            top: 10%;

            @include portrait-phone {
                top: 2%;
            }
        }

        .as4 {
            position: absolute;
            right: 10%;
            top: 10%;

            @include portrait-phone {
                top: 2%;
            }
        }
    }

    .fea-left {
        position: relative;
        left: 0%;

        @include portrait-phone {
            display: none;
        }

        @include landscape-phone {
            left: 22%;
        }

        @include tablet {
            left: 20%;
        }

        @include tablet {
            left: 20%;
        }

        @include desktop {
            left: 16%;
        }

        @include screen-1200 {
            left: 16%;
        }

        img {
            width: inherit;
        }

        .al-shapes {
            .al1 {
                position: absolute;
                top: 7%;
                left: -22%;
            }

            .al2 {
                position: absolute;
                right: 14%;
                top: 28%;

                @include portrait-phone {
                    display: none;
                }
            }

            .al3 {
                position: absolute;
                top: 46%;
                left: -22%;
            }
        }
    }

    .fea-right {
        .fea-box {
            ul {
                li {
                    span {
                        width: 30px;
                        height: 30px;
                        background: $home3-primary-color;
                        color: $white-color;
                        text-align: center;
                        border-radius: 50%;
                        text-align: center;
                        display: inline-block;
                        line-height: 30px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

// features-seation
.features-section {
    position: relative;

    .ht-fea-shapes {
        img {
            width: inherit;
        }

        .ss-shape1 {
            position: absolute;
            bottom: 10%;
            left: 5%;
        }
    }
}

// single service
.single-service-3 {
    padding: 30px;
    background: $bg-color3;
    border: 1px solid $border-color;

    &:hover {
        background: $white-color;

        .ser-icon {
            background: $home3-primary-color;
            color: $white-color;
        }
    }

    .ser-icon {
        width: 90px;
        height: 90px;
        line-height: 90px;
        border-radius: 50%;
        background: $bg-color4;
        color: $home3-primary-color;
        text-align: center;
        font-size: 30px;
        transition: $transition;
    }

    .ser-content {
        h4 {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 15px;
        }
        a {
            color: $secondary-color;
            transition: $transition;
            text-transform: capitalize;
            font-weight: 600;
            transition: $transition;
            font-family: $heading-font;

            &:hover {
                color: $home3-primary-color;
            }
        }
    }
}

// download area
.download-area3 {
    position: relative;

    .ddshapes {
        .ddmain {
            position: absolute;
            right: 10%;
            top: 10%;
            width: 20px;
        }
    }

    .download-left {
        .dl-shapes {
            img {
                width: inherit;
            }

            .dl1 {
                width: 250px;
                position: absolute;
                top: 9%;
                right: -21%;
                z-index: 1;
                left: initial;

                @include tablet {
                    right: -6%;
                }
            }

            .dltwo {
                position: absolute;
                width: 90px;
                z-index: 0;
                bottom: -8%;
                right: 0%;
            }

            .dlthree {
                position: absolute;
                bottom: -4%;
                left: 0%;
                z-index: 0;
                width: 50px;
            }

            .dlfour {
                position: absolute;
                top: 2%;
                right: -11%;
                z-index: 12;
                width: 40px;
            }
        }
    }

    .download-right {
        .btn-box {
            a {
                img {
                    @include portrait-phone {
                        width: 150px;
                    }
                }
            }
        }
    }
}

// screenshot-area2
.screenshot-area3 {
    background: url("../images/slider-bg.png");
    background-position: bottom right;
    background-size: cover;
    position: relative;
    overflow: hidden;

    .screen1 {
        width: 100px;
        position: absolute;
        top: 0%;
        right: 0%;
    }

    .screen2 {
        width: 80px;
        position: absolute;
        bottom: 3%;
        left: 11%;
    }

    .common-title2 {
        h3 {
            color: $white-color;
        }

        p {
            color: $white-color !important;
        }
    }

    .ss-container {
        .ss-active .ss-item .bg {
            opacity: 1;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $secondary-color;
                opacity: 0.1;
                border-radius: 50px;
                padding: 30px;

                @include desktop {
                    display: none;
                }
            }
        }

        .ss-active .slick-center .bg {
            &::after {
                opacity: 0;
            }

            z-index: 1;
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }

        .slick-prev,
        .slick-next {
            border: 1px solid $white-color;
            color: $white-color;
            border-radius: 10px;
            transition: $transition;

            &:hover {
                background: $white-color;
                color: $home3-primary-color;
            }
        }
    }
}

// pricing-area2
.pricing-area3 {
    background: initial;
    position: relative;

    .pricing-shapes {
        .ps1 {
            width: 50px;
            position: absolute;
            right: 12%;
            bottom: 7%;
        }

        .ps2 {
            width: 25px;
            position: absolute;
            top: 40%;
            left: 13%;
        }
    }

    .pricing-nav {
        background: $home3-primary-color;
        border-radius: 10px;
        display: inline-block !important;
        padding: 5px;

        a {
            font-family: $heading-font;
            font-style: 16px;
            font-weight: 500;
            color: $white-color;
            text-transform: capitalize;
        }

        a.active {
            font-family: $heading-font;
            font-style: 16px;
            font-weight: 500;
            color: $home3-primary-color;
            background: $white-color;
            text-transform: capitalize;
            border-radius: 8px;
        }
    }
}

// single pricing
.single-pricing-3 {
    position: relative;
    background: $white-color;
    box-shadow: 0px 0px 40px 0px rgba(120, 120, 120, 0.1);
    border-radius: 10px;

    &:hover {
        img.hoverimg {
            visibility: visible;
            opacity: 1;
        }

        .template-btn4 {
            background: $home3-primary-color !important;
            color: $white-color !important;
            transition: $transition;

            &:hover {
                background: transparent !important;
                border: 1px solid $home3-primary-color;
                color: $home3-primary-color !important;
            }
        }
    }
    ul {
        margin-bottom: 15px;
    }

    img.hoverimg {
        width: inherit;
        position: absolute;
        top: 0%;
        left: 0%;
        visibility: hidden;
        opacity: 0;
        transition: $transition;
    }

    h4 {
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 15px;
        line-height: 1;
    }

    h3 {
        font-weight: 500;
        margin-bottom: 15px;
        &::before {
            content: "";
        }

        .m-y {
            font-size: 16px;
            font-family: $template-font;
            color: $secondary-color;
            font-weight: 400;
            text-transform: lowercase;
        }
    }
}
// testi-area3
.testi-area3 {
    background: $bg-color2;
    position: relative;

    .test3-shapes {
        img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }

        .ts1 {
            position: absolute;
            top: 10%;
            left: 10%;
        }

        .ts2 {
            position: absolute;
            top: 38%;
            left: 13%;
        }

        .ts3 {
            position: absolute;
            bottom: 10%;
            left: 5%;
        }

        .ts4 {
            position: absolute;
            top: 10%;
            right: 10%;
        }

        .ts5 {
            position: absolute;
            top: 50%;
            right: 15%;
        }

        .ts6 {
            position: absolute;
            bottom: 10%;
            right: 5%;
        }

        .ts7 {
            position: absolute;
            bottom: 24%;
            left: 16%;
        }

        .ts8 {
            position: absolute;
            width: 100px;
            height: 100px;
            top: 31%;
            right: 24%;
            opacity: 0.7;
        }

        .ts9 {
            position: absolute;
            width: 45px;
            height: 45px;
            right: 25%;
            bottom: 17%;
        }

        .ts10 {
            position: absolute;
            width: 20px;
            height: 20px;
            left: 5%;
            bottom: 5%;
        }
    }

    .testi2-slider-active {
        .slick-track {
            padding: 20px 0;
        }

        .slick-btn1,
        .slick-btn2 {
            color: $home3-primary-color;
            background: transparent;
            border: 1px solid $home3-primary-color;
            transition: $transition;
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-radius: 5px;
            text-align: center;
            z-index: 1;

            &:hover {
                color: $white-color;
                background: $home3-primary-color;
            }
        }

        .slick-btn1 {
            position: absolute;
            top: 50%;
            left: -10%;

            @include sm-device {
                left: 0%;
            }

            @include tablet {
                left: 0%;
            }
        }

        .slick-btn2 {
            position: absolute;
            top: 50%;
            right: -10%;

            @include sm-device {
                right: 0%;
            }

            @include tablet {
                right: 0%;
            }
        }
    }

    .single-test2.slick-slide {
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 10px;
            position: absolute;
            top: -6px;
            left: 6px;
            background-color: $white-color;
            opacity: 0.6;
            z-index: -1;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 10px;
            position: absolute;
            top: -12px;
            left: 12px;
            background-color: $white-color;
            opacity: 0.4;
            z-index: -1;
        }
    }
}

// single-testi-3
.single-test-3 {
    background: $white-color;
    border-radius: 10px;
    padding: 20px;
    margin: 9px;

    position: relative;
    z-index: 5;

    .testi3-top {
        text-align: center;
        img {
            width: inherit;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        h6 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 15px;
        }
    }
}

// blog area3
.blog-area3 {
    // slider customization
    .home3-blog-slider {
        .slick-slide {
            padding: 10px;
        }

        .slick-dots {
            display: flex !important;
            justify-content: center;
            margin-top: 30px;

            li {
                button {
                    font-size: 0;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: 1px solid $home3-primary-color;
                    outline: none;
                    float: left;
                    margin-left: 10px;
                    background: transparent;
                }
            }

            li.slick-active {
                button {
                    background: $home3-primary-color;
                    outline: none;
                    border: none;
                }
            }
        }
    }
}
// single blog 3
.single-blog-3 {
    position: relative;

    .date-meta {
        background: $home3-primary-color;
        color: $white-color;
        width: 70px;
        text-align: center;
        border-radius: 10px 0px 15px 0px;
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 1;
        line-height: 1.3;
        padding: 5px;

        span {
            &:nth-child(1) {
                font-family: $heading-font;
                font-size: 25px;
                font-weight: 700;
            }

            &:nth-child(2) {
                font-family: $heading-font;
                font-size: 20px;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
    }

    .blog-content {
        .meta-box {
            span {
                a {
                    transition: $transition;

                    &:hover {
                        color: $home3-primary-color !important;
                    }
                }
            }
        }

        h4 {
            a {
                transition: $transition;

                &:hover {
                    color: $home3-primary-color !important;
                }
            }
        }
    }

    a.readMore {
        font-weight: 600;
    }

    div {
        a {
            transition: $transition;

            &:hover {
                color: $home3-primary-color !important;
            }
        }
    }
}

// contact area
.contact-area {
    background: $bg-color2;

    .contact-left {
        position: relative;

        a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 22;
            color: $white-color;
            background: $home3-primary-color;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            text-align: center;
            line-height: 40px;
        }
    }

    .contact-right {
        .htcontact-form {
            input {
                width: 100%;
                padding: 12px 20px;
                margin-bottom: 30px;
                border-radius: 10px;
                border: 1px solid $border-color;
            }

            textarea {
                width: 100%;
                padding: 12px 20px;
                border-radius: 10px;
                border: 1px solid $border-color;
                margin-bottom: 30px;
            }

            button {
                width: 100%;
            }
        }
    }
}

// scroll up
.scroll3 {
    background: $home3-primary-color;
}
