/* Button */
.template-btn1 {
    box-shadow: 0px 15px 30px 0px rgba(255, 115, 140, 0.2);
    background: $primary-color;
    border: 2px solid transparent;
    color: $white-color;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    border-radius: 50px;
    transition: $transition;
    text-transform: capitalize;
    text-decoration: none;

    @include portrait-phone {
        padding: 8px 15px;
    }

    &:hover {
        background: $white-color;
        color: $primary-color;
        border: 2px solid $primary-color;
    }
}