// Common Css
// Color
.primary-color {
    color: #5956e9;
}

.home2-primary-color {
    color: rgb(64, 109, 248);
}

.home3-primary-color {
    color: rgb(255, 51, 34);
}

.secondary-color {
    color: #ef547c;
}

.secondary-color2 {
    color: #fba920;
}

.secondary-color3 {
    color: #4bc6e5;
}

// Background Colors
.light-pink {
    background-color: $light-pink;
}

.light-blue {
    background-color: $light-blue;
}

.pink-color {
    color: $secondary-color;
}

// Combo colors
.primary-combo {
    color: $primary-color;
    background-color: #efebff;
}

.secondary-combo {
    color: $secondary-color;
    background-color: #faeef6;
}

.secondary2-combo {
    color: $secondary-color2;
    background-color: #fff3de;
}

.secondary3-combo {
    color: $secondary-color3;
    background-color: #e7faff;
}

.btn-close:focus {
    outline: 0;
    box-shadow: none;
    opacity: 1;
}