// Common Css
// Background Colors
.light-pink {
    background-color: $light-pink;
}

.light-blue {
    background-color: $light-blue;
}

.pink-color {
    color: $secondary-color;
}

// Combo colors
.primary-combo {
    color: $primary-color;
    background-color: #efebff;
}

.secondary-combo {
    color: $secondary-color;
    background-color: #faeef6;
}

.secondary2-combo {
    color: $secondary-color2;
    background-color: #fff3de;
}

.secondary3-combo {
    color: $secondary-color3;
    background-color: #e7faff;
}