/* Header Section */
html {
    scroll-behavior: smooth;
}

.header-area {

    .header-top {
        border-bottom: 1px solid #e3e3e3;
        padding: 20px 0;
        position: relative;

        .header-info {
            display: flex;
        }

        .nice-select {
            border: none;
        }

        .h-top-middle {
            display: flex;
            justify-content: center;

            .logo {
                img {
                    width: 230px;
                    height: auto;
                }
            }
        }

        .h-top-right {
            .header-action {
                display: flex;
                justify-content: flex-end;
                position: relative;

                i {
                    color: $primary-color;
                    padding: 10px;
                    border: 1px solid $border-color;
                    border-radius: 50px;
                    font-weight: bold;
                    font-size: 14px;
                    cursor: pointer;
                    margin-right: 20px;
                }

                .cart-dropdown {
                    display: none;
                    position: absolute;
                    z-index: 99;
                    width: 321px;
                    background-color: #fff;
                    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
                    padding: 30px 20px 27px;
                    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
                    border-radius: 10px;
                    border: 1px solid #ececec;
                    top: 40px;
                    right: 0;

                    ul {
                        border-bottom: 2px solid $border-color;
                        margin-bottom: 20px;
                    }

                    li {
                        display: flex;
                        margin-bottom: 20px;
                    }

                    h5 {
                        margin: 0 0 9px;

                        a {
                            color: $secondary-color;
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 500;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }

                    .shopping-cart-img {
                        flex: 0 0 80px;
                        margin-right: 20px;
                    }

                    .shopping-cart-img img {
                        width: 80px;
                        height: 80px;
                    }

                    .shopping-cart-title span {
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .shopping-cart-delete {
                        display: flex;
                        flex-grow: 100;
                        justify-content: flex-end;

                        a {
                            font-size: 18px;
                            color: $black-color2;
                            margin-top: -4px;
                        }

                        i {
                            border: none;
                            color: $black-color2 !important;
                            padding: 0 !important;
                            font-size: 14px !important;
                            cursor: pointer !important;
                        }
                    }

                    .shopping-cart-footer {
                        h4 {
                            color: $black-color2;
                        }

                        h4 span {
                            font-size: 18px;
                            float: right;
                            color: $secondary-color;
                        }

                        .shopping-cart-button {
                            margin-top: 20px;
                            display: flex;
                            justify-content: space-between;

                            a {
                                text-decoration: none;
                                font-size: 14px;
                                border: 2px solid $primary-color;
                                background-color: $white-color;
                                padding: 8px 15px;
                                border-radius: 5px;
                                font-weight: 500;
                                color: $primary-color;
                            }

                            a:hover {
                                color: $white-color;
                                background-color: $primary-color;

                            }
                        }
                    }
                }

                .cart-dropdown-block {
                    display: block;
                }

            }
        }
    }

    .header-bottom {
        .categories {
            background-color: $primary-color;
            padding: 20px;
            color: $white-color;
            cursor: pointer;
            font-weight: 500;

            i {
                display: inline-block;
                margin-right: 15px;
            }
        }

        .main-menu {
            ul {
                margin: 0;
                padding: 0;
            }

            li {
                list-style: none;
                display: inline-block;
                margin-left: 40px;
            }

            a {
                text-decoration: none;
                color: $black-color2;
                font-size: 14px;
                font-weight: 500;
            }

            a:hover {
                color: $primary-color;
            }

        }

        .contact-info {
            font-size: 18px;
            color: $heading-color;
            font-weight: bold;
            float: right;

            strong,
            i {
                color: $primary-color;
            }
        }
    }



}